/*header*/
.icon,.icon-cart,.icon-phone{ background: url(img/new-common.png) no-repeat;}
.seach-input,.search-button{background: url(img/bg-search.png) no-repeat;}


#header{width:100%;height: 160px; border-bottom: 1px solid #999;float: left;}
#header .logo{float: left;}
#header .logo a{display:inline-block;width: 150px;height: 170px;background: #f4604b url(img/kadang.png) 20px 20px no-repeat; margin-left: 30px;}
#header .intro{width: 1200px;height: 26px; border-bottom: 1px solid #ededed;line-height: 26px; margin: 0 auto;}
#header .intro a:hover{color:#f4604b ;}
#header .intro-menu{width: 480px; height: 25px;float: right;position: relative;}
#header .intro-menu li a{float: left;color: #999;width:80px;text-align: center;}
#header .intro-menu .select{width:70px;position: absolute;top: 24px;background: #fff;padding: 5px 8px;border-style: solid;border: 1px solid #ccc;line-height: 26px;display:none;z-index: 3;}
#header .intro-menu .select li a{text-align: left;}
#header .icon{display:inline-block;width:12px;height: 12px;background-position: 0 -403px;}
#header .intro-login{ float: left;}
#header .intro-login li{float: left;color: #999;margin: 0 12px;}
#header .intro-login li a{color: #999;}
#header .icon-cart{display:inline-block;width:12px;height: 12px; background-position: 0 -427px;margin-right:5px;vertical-align: middle;}
#header .icon-phone{display:inline-block;width:9px;height: 15px; background-position: 0 -443px;margin-right:5px;vertical-align: middle;}
#header .seach{border-bottom:1px solid #ededed; ;}
#header .seach-input{padding-left: 20px;height: 36px;line-height: 30px;width:335px;border:0;float: left;margin: 20px 0 0 270px;border-radius: 50px;}
#header .search-button{cursor: pointer;width: 40px;height: 36px;margin:20px 0 0 -45px;border: 0;text-indent: -999em;background-position: right 0;}
#header .search-button:hover{background-position: right -39px;}
#header .search-tab{margin-left: 450px;height: 40px; padding-top: 5px;}
#header .search-tab li{float: left;padding-left: 20px;}
#header .search-tab li a{color: #646464;}
#header .nav{height: 34px;}
#header .nav-list{position: relative;}
#header .nav-list li.navHover{height: 2px;width:0;/*line-height: 0;font-size: 0;*/position: absolute;background-color: #F4604B;top: 31px;left:0;opacity: 0;}
#header .nav-list li{float: left;line-height: 34px;position: relative;}
#header .nav-list li a{padding: 0 18px;color: #000;margin: 0 8px;font-size: 14px;text-decoration: none;font-weight: bold;}
#header .nav-list li a:hover,.hot-links a:hover{color: #eb744f;}
#header .nav-hot{position: absolute;right: 0;top: 0;width: 13px;height: 13px;}


/*按兴趣选礼物*/
.giftClassify {border: 1px solid #ebebeb;background-color: #fff;padding: 26px 0; margin-top: 20px;width: 1200px;margin: 0 auto;margin-bottom: 20px;}
.giftClassify .gift-xq { height: 450px;width: 300px;float: left;padding-left: 20px;border-right: 1px #ccc solid;}
.giftClassify .gift-tle {font-size: 20px;font-weight: bold;font-family:'Microsoft YaHei';padding: 20px 0 0;}
.giftClassify .gift-xq .cate-item {padding: 12px 0;}
.giftClassify .gift-xq .vm-cap {font-size: 14px;}
.giftClassify .vm-cap {font-weight: bold;color: #000;line-height: 2;}
.giftClassify .vm-cap a, .giftClassify .vm-cap a:visited {color: #000;}
.giftClassify a, .giftClassify a:visited {color: #999;line-height: 1.8;white-space: nowrap;padding-right: 10px;}
.giftClassify .vm-cap a:hover,.giftClassify a:hover, .giftClassify a:active {color: #f4614d;}
.giftClassify .gift-lm {width: 860px;float: left;padding-left: 10px;}
.giftClassify .gift-lm .gift-tle {margin-left: 10px;}
.giftClassify .cate-cont {float: left; display: inline; width: 860px;margin-left: 15px;line-height: 1.8;}
.giftClassify .gift-lm .cate-item {padding: 12px 0;width: 270px;height: 85px;float: left;}













