
#wrap{width:100%;min-width: 1227px;margin: 0 auto;background-color: #fff;}

/*main*/
#main{height: 7537px;float: left; }

/*container*/
#main>.container{height: 1380px;position: relative;margin:25px 0 0 30px;}
#main .container .nav{width: 150px;margin-right: 20px;float: left;height: 460px;}
#main .container .nav-hot>a,.nav-gift p{font-size: 16px;font-family: 'Microsoft YaHei';font-weight: bold;margin-bottom: 5px;color: #000;}
#main .container .hot-links{width: 150px;height: 65px;border-bottom: 1px solid #ededed;padding-bottom: 15px; margin-bottom: 14px;line-height: 1.8;}
#main .container .hot-links a{float: left;white-space: nowrap;margin-right: 20px;width: 4em;}
#main .container .nav-gift dl dt a{padding-top: 3px;font-size: 14px; line-height: 31px;height: 31px;display: block;padding-left: 40px;background: url(img/menuImg.png) no-repeat;}
#main .container .nav-gift dl dt a.aa{color: #fff;background:  #E44715 url(img/menuHoverImg.png) no-repeat;}
#main .container .nav-gift .gift-arrow{border: 5px solid #e44715;border-left: 5px solid #fff;float: right;margin-top: 12px;}
#main .container .nav-gift .gift-dd{ display: none;position: absolute;height: 418px;width: 122px;left: 150px;top: 0;background: #fff;background: rgba(255,255,255,0.9);padding: 20px 0;padding-right: 40px;border: 1px solid #ededed;z-index: 3;}
#main .container .nav-gift .gift-list{width: 120px;height: 460px;float: left;display: none;padding-left: 20px;}
#main .container .nav-gift .gift-list a{display: block;line-height: 21px;height: 21px;margin-bottom: 15px;padding-left: 10px;}
#main .container .nav-gift .gift-list a:hover{background: #999;color: #fff;}

#main .container .banner{position: relative;width: 820px;height: 460px;float: left;overflow: hidden;}
#main .container .banner .pic li{position: absolute;top: 0;left: 0;z-index: 1;}
#main .container .banner .nav{position: absolute;bottom: 8px;left: 50%;margin-left: -58px;height: 11px;z-index: 2;}
#main .container .banner .nav li{float: left; margin: 0 6px;border: 5px solid #666;border-radius:50%;}
#main .container .banner .nav li:hover{border-color: #e44715;cursor: pointer;}
#main .container .banner .nav li.active{border-color: #e44715;}
#main .container .banner span{display: inline-block;width: 73px;height: 65px;position: absolute;top:197px;z-index: 2;cursor: pointer;background: url(img/cut_arrows.png);opacity:0.5;display: none;}
#main .container .banner span:hover{opacity: 1;}
#main .container .banner span.prev{left:50px;}
#main .container .banner span.next{background-position:0 -68px;right: 50px;}

#main .container .featured{float: left;width: 190px;display: inline;margin-left: 20px;}
#main .container .featured p{margin-bottom: 20px;}

#main .container .qixi{clear: both;margin: 8px auto;margin-top: 40px;margin-bottom: 10px;position: relative;}
#main .container .head{font-family: 'Microsoft YaHei';font-size: 12px;color: #999;padding-bottom: 15px;}
#main .container .qixi-title{font-family: 'Microsoft YaHei';font-weight: bold;font-size: 20px;color: #333;margin-right: 15px;position: relative;bottom: 2px;}
#main .container .qixiCon{width: 1220px;position: relative;top: 0;left: 0;}
#main .container .qixi-list{min-height: 716px;width: 1220px;}
#main .container .qixi-list li{float: left;margin:0 20px 20px 0;}
#main .container .qixi-list li a img{width: 285px;height: 280px;}
#main .container .price{display: block;width: 100%;color: #666;font-size: 18px;line-height: 19px;height: 19px;padding: 10px 0 5px 0;}
#main .container .price em{font-size: 12px;font-family: "Microsoft YaHei";}
#main .container .price div{display: inline-block;float: right;color: #666;font-size: 12px;}
#main .container .text{width: 285px;overflow: hidden;height: 24px;}
#main .container .text a{font-size: 16px;text-decoration: none;color: #666;font-family: "Microsoft YaHei";}
#main .container .text a:hover{color: #e44715;}
#main .container .qixi-footer{width: 1200px; height:144px;padding-bottom: 20px;}
#main .container .qixi-footer .left{float: left;}
#main .container .qixi-footer .right{float: right;}

#main .floor-nav{height: 46px;padding: 20px 0 0 30px;position: static;top: 0px;margin: 0 auto;background-color: #fff;width: 1230px;}
#main .floor-nav .floorCon li{width: 128px;height: 46px;text-align: center;float: left;margin-right: 2px;font: 14px/46px "宋体";font-weight: bold;color: #666;cursor: pointer;}
#main .floor-nav .floorCon li:hover,#main .floor-nav .floorCon .current{background-color: #e44715;color: #fff;}


#bigWrap{background-color: #F5F5F5;padding-left:30px ;width: 1230px;}
#main .floor-main{background-color: #f5f5f5;padding-top: 20px;width: 100%;}
#main .floor-main .container{width: 1200px;}
#main .floorBox h3{font: bold 28px/28px "Microsoft YaHei";color: #121212;padding: 15px 0 25px;}
#main .floorBox ul{width: 1230px;padding-bottom: 4px;}
#main .floorBox ul li{position: relative;width: 280px;height: 369px;float: left;margin: 0 26px 26px 0;background-color: #fff;box-shadow: 1px 1px 1px rgba(0,0,0,0.2);}
#main .floorBox ul .first{width: 586px;height: 369px;}
#main .floorBox ul .imgbox{width: 280px;height: 280px;}
#main .floorBox ul .imgbox img {width: 280px;height: 280px;}
#main .floorBox ul .del {height: 22px;line-height: 22px; color: #999;padding-top: 2px;text-decoration: line-through;}
#main .floorBox ul .gift-price {margin: -4px 15px 0;}
#main .floorBox ul .pp {font-family: "Microsoft YaHei";width: 246px;}
#main .floorBox ul .pp a.eval-num {color: #999;margin-top: 6px;font-family: "宋体";float: right;}
#main .floorBox ul .pp .price {color: #666;font-size: 18px;}
#main .floorBox ul .pp .price em {font-size: 12px;}
#main .floorBox ul .eval-cont {width: 246px;line-height: 22px;height: 22px; color: #999;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;font-family: "宋体";margin: 2px auto 0;}





/*登录，注册页面*/
#loginWrap,#signWrap{position: fixed;top: 0;z-index:1000; width: 1263px;
    height: 7923px;display: none;}
.loginPop{
	position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
#loginPage,#signPage {
	font-size: 12px;
	font-family: "微软雅黑";
    width: 1150px;
    height: 590px;
    position: absolute;
    z-index: 100;
    right: -1150px;
    top: 0;
    background: #fff;
    padding-top: 25px;
}
.loginCon {
    overflow: hidden;
    width: 640px;
    padding: 50px;
    margin: 0 auto;
}
.loginClose {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../css/img/closePop.gif) no-repeat center center #E14835;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    cursor: pointer;
}
.loginCon .other-login {
    float: left;
    display: inline;
    overflow: hidden;
    width: 195px;
    line-height: 1.5;
}
.loginCon .other-login dt{margin-bottom:20px}
.f18{font-size: 18px;color: #333333;}
.f14{font-size: 14px;color: #999;}
.loginCon .other-login dd {
    float: left;
    display: inline;
    margin-right: 17px;
}
.loginCon .other-login a{
    background: url(../css/img/login.png) no-repeat;
    width: 44px;
    height: 25px;
    display: block;
    padding-top: 44px;
    color: #333;
    text-align: center;
    line-height: 25px;
}
.loginCon .other-login a:hover{color: #f00;text-decoration: underline;}
.loginCon .other-login a.qq {
    background-position: 0 -68px;
}
.loginCon .other-login a.alipay {
    background-position: 0 -137px;
}
.login {
    float: left;
    padding-left: 25px;
    border-left: 1px solid #e8e8e8;
    width: 320px;
}
.loginFrom dl dt {
    line-height: 20px;
    height: 20px;
    margin: 8px 0 30px 0;
    text-shadow: 1px 1px 0 #FFF;
}
.loginFrom dl dd p {
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    display: block;
    text-align: right;
    color: #f46e6e;
}
.username,.pwd{
    font-family: Tahoma;
    width: 280px;
    height: 32px;
    line-height: 32px;
    background: url(../css/img/login.png) no-repeat transparent;
    border: solid 1px #D8D8D8;
    border-radius: 2px;
    padding: 1px 1px 1px 32px!important;
    position: relative;
    z-index: 1200;
}
.username {
    background-position: 7px -203px;
}
.pwd {
    background-position: 7px -238px;
}
.codeText{width: 60px; float: left;
    height: 32px;
    line-height: 32px;
    border: solid 1px #D8D8D8;
    border-radius: 2px;
    padding: 5px;
    position: relative;
    z-index: 1200;
}
.code{display: inline-block;width: 80px;height: 30px;border: 1px solid #999;background-color: #FFEBCD;margin:5px 0 10px 20px;line-height: 30px;font-size: 20px;text-align: center;cursor: pointer;}
.code:hover{border-color: #f00;}
.login-auto{height: 30px;line-height: 16px;color: #999;margin-top: 10px;}
.submit {
    height: 45px;
    width: 315px;
    font-size: 18px;
    background: #F6614B;
    color: #fff;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-weight: bold;
    padding: 0 20px;
    font-family: "微软雅黑";
}
.foget{float: right;}
.bottom{height: 25px;margin-top: 10px;}

